<h1 id='count'>
  5
</h1>

<p id='error'>
  <%= devise_error_messages! %>
</p>


<script type="text/javascript">
  var count = 4
  setInterval(function(){
    $('#count').text(count)
    count = count - 1
  }, 1000)
  setTimeout(function(){
    window.location = '/users/sign_in'
  }, 4000)
</script>