<h2>Saves</h2>
<ul class="bxslider" data-bx-slider="mode: 'horizontal', pager: false, controls: true, minSlides: 1, maxSlides:4, slideWidth: 350, slideMargin:10, infiniteLoop: false, hideControlOnEnd: true">
  <li class="repeat-item" data-ng-repeat="i in savedArray track by $index" data-notify-when-repeat-finished>
    <div class="item">
      <a href="/#/pin/source/{{i['id']}}">
        <img data-ng-src="{{i['image_url']}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
      </a>
    </div>
  </li>
</ul>

<h2>History</h2>
<ul class="bxslider" data-bx-slider="mode: 'horizontal', pager: false, controls: true, minSlides: 1, maxSlides:4, slideWidth: 350, slideMargin:10, infiniteLoop: false, hideControlOnEnd: true">
  <li class="repeat-item" data-ng-repeat="i in historyArray track by $index" data-notify-when-repeat-finished>
    <div class="item">
      <a href="/#/pin/source/{{i['id']}}">
        <img data-ng-src="{{i['image_url']}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
      </a>
    </div>
  </li>
</ul>

<h2>Shares</h2>
<ul class="bxslider" data-bx-slider="mode: 'horizontal', pager: false, controls: true, minSlides: 1, maxSlides:4, slideWidth: 350, slideMargin:10, infiniteLoop: false, hideControlOnEnd: true">
  <li class="repeat-item" data-ng-repeat="pin in pins track by $index" data-notify-when-repeat-finished>
    <div class="item">
      <a href="/#/pin/source/{{pin.pin[0].pin.id}}">
        <img ng-src={{pin.pin[0].pin.image_url}} onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
      </a>
      <p style="text-align: left">Shared By: {{pin.username}}</p>
    </div>
  </li>
</ul>

