<h1>Dash</h1>
<br>
<br>

<h2>Saved</h2>
<ul class="bxslider" slider="{minSlides: 1, maxSlides: 4, slideWidth: 300, slideMargin: 1}">
  <li ng-repeat='i in savedArray'>
    <a href="/#/pin/{{i['id']}}">
        <img ng-src={{i['image_url']}}/>
    </a>
  </li>
</ul>

<h2>History</h2>
<ul class="bxslider" slider="{minSlides: 1, maxSlides: 4, slideWidth: 300, slideMargin: 1}">
  <li ng-repeat="i in historyArray | orderBy:'i.updated_at'">
    <a href="/#/pin/{{i['id']}}">
        <img ng-src={{i['image_url']}}/>
    </a>
  </li>
</ul>


<h2>Shares</h2>
<ul class="bxslider" slider="{minSlides: 1, maxSlides: 4, slideWidth: 300, slideMargin: 1}">
  <li ng-repeat="pin in pins">
    <div>
    <a href="/#/pin/{{pin.pin[0].pin.id}}">
        <img ng-click="deleteShare(pin.share_id)" ng-src={{pin.pin[0].pin.image_url}}/>
    </a>
    <p style="text-align: left">Shared By: {{pin.username}}</p>
    </div>
  </li>
</ul>


