<h1>Dash</h1>
<br>
<br>

<h2>Saved</h2>
<ul class="bxslider" slider="{minSlides: 1, maxSlides: 4, slideWidth: 360, slideMargin: 10}">
  <li ng-repeat='i in savedArray'>
    <a href="/#/pin/{{i['id']}}">
        <img ng-src={{i['img_url']}}/>
    </a>
  </li>
</ul>

<h2>History</h2>
<ul class="bxslider" slider="{minSlides: 1, maxSlides: 4, slideWidth: 360, slideMargin: 10}">
  <li ng-repeat='i in historyArray'>
    <a href="/#/pin/{{i['id']}}">
        <img ng-src={{i['img_url']}}/>
    </a>
  </li>
</ul>