<div class="wrapper">
<div class="inbox_container">
    <div ng-repeat="pin in pins">
        <div class='{{pin.seen}} card-wrapper'>
            <img class="small"  ng-src="{{pin.pin[0].pin.image_url}}">
            <div class="inbox-title" data-fill>
                <a href='/#/pin/all/{{pin.pin[0].pin.id}}'>
                    {{pin.pin[0].pin.title}}
                </a>
            </div>
            <p>
                Shared by {{pin.username}}
            </p>
        </div>
    </div>
</div>
</div>


<style type="text/css">
    .false {
        background-color: #c0ffc0;
    }
</style>

