<form action="">
  <input ng-model="formData.url" type="text" placeholder="url">

  <input ng-model="formData.img_url" type="text" placeholder="image url">

  <input type="file" ng-file-select="onFileSelect($files)">
  <!--  onFileSelect($files) -->
  <button ng-click="upload.abort()">Cancel Upload</button>

  <input ng-model="formData.name" type="text" placeholder="website name">

  <br>
  <br>

  <p>
    Category: 
    <select ng-options="cat.name for cat in cats" ng-model="formData.cat">
        
    </select>
  </p>
  
  <button class='btn btn-primary' ng-click="createSource()">Create</button>
</form>

