<form>
  <!-- <input ng-model="formData.image_url" type="file"> -->
  <input ng-model="formData.image_url" type="text" placeholder="image url">
  
  <input ng-model="formData.title" type="text" placeholder="Title">
  
  <input ng-model="formData.description" type="text" placeholder="Description">
  
  <input ng-model="formData.url" type="text" placeholder="Link">
  
  <select>
  <option disabled>Select Source</option>
    <option ng-model="formData.source_id" ng-repeat='source in sources' value={{source.id}}>
      {{source.name}}
    </option>
  </select>
  

  <input ng-model="formData.tags" type="text" placeholder="Tags">
  
  <button ng-click="createPin()">Create</button>
</form>
