<link rel="stylesheet" type="text/css" href="stylesheets/solo_pin.css">


<a class="embedly-card" id='test' href="{{pin[0].url}}"></a>



<script>
    setTimeout(function(){
        (function(a){
            var b = "embedly-platform"
            var c = "script"
            if(!a.getElementById(b)){
                var d=a.createElement(c)
                d.id=b
                d.async=true
                d.src=document.location.protocol+"//cdn.embedly.com/widgets/platform.js"
                var e=document.getElementsByTagName(c)[0]
                e.parentNode.insertBefore(d,e)
            }
        })(document)
    }, 80)
</script>



<div id='footer'>

    <div ng-click='savePin()' id='save' class='foot-button'>
        Save
    </div>

    <div id='share' class='foot-button'>
        <input type='text'ng-model="formData.sendTo" id='share-input'placeholder='Share with...'>
        </input>
        <button class='btn' ng-click='sharePin()'>
            Share
        </button>
    </div>

</div>




<script>
    // var key = 'e6c29a859c5c4544a19f3f8beeaccad6'

// // we dont need to do this, but this is how it do:

    // var deferred = $.embedly.extract(
    //     ['http://embed.ly', "http://techcrunch.com/2010/08/25/groupme-born-at-techcrunch-disrupt-secures-funding-and-launches/"], 
    //     {key: key}
    // )
    // .done(function(results){
    //   console.log(results)
    // });


//  // this what we really do if we dont do it like the above

    // setTimeout(function(){
    //     $('#test').embedly({
    //         key: key
    //     })
    // }, 80)

</script>