<div id='img-and-card' style='opacity: 0;'>
    <div>
        <a class="embedly-card" id='test' href="{{pin[0].pin.url}}"></a>
    </div>
    <img src="{{pin[0].pin.image_url}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'">
</div>

<br>
<br>

<a href="{{pin[0].pin.url}}">
    <h1>
        {{pin[0].pin.title}}
    </h1>
</a>

<br>

<p>
    {{pin[0].pin.description}}
</p>

<br>
<br>

<script>
    $(document).ready(function(){
        $('#embedly-platform').remove();
        setTimeout(function(){
            (function(a){
                var b = "embedly-platform"
                var c = "script"
                if(!a.getElementById(b)){
                    var d=a.createElement(c)
                    d.id=b
                    d.async=true
                    d.src=document.location.protocol+"//cdn.embedly.com/widgets/platform.js"
                    var e=document.getElementsByTagName(c)[0]
                    e.parentNode.insertBefore(d,e)
                }
            })(document)
        }, 350)
    })
</script>

<p hidden>
    {{(toggle == null) && (toggle = pin[0].saved)}}
</p>

<div id='footer'>

    <div ng-click='savePin(); toggle=true' 
         id='save' 
         ng-hide="toggle"
         class='foot-button btn-primary btn'>
        Save
    </div>
    <div ng-click='savePin(); toggle=false' 
         id='unsave' 
         ng-show="toggle"
         class='foot-button unsave btn'
         style='background-color: #3f6;'>
        Unsave
    </div>

    <div id='share' class='foot-button'>
        <input type='text'ng-model="formData.sendTo" id='share-input'placeholder='Share with...'>
        <button id='share-button'class='btn btn-primary' ng-click='sharePin()'>
            Share
        </button>
    </div>
</div>

<br>
<br>

<script type="text/javascript">
    $('#share-button').on('click', function(){
        $('#share-input').val('')
    })
</script>

<button class="btn btn-primary" ng-click='nextPin(pin[0].pin.source_id, pin[0].pin.id, "previous")'>    
    Previous
</button>

<button class="btn" ng-click='goEdit()' ng-hide="not_admin">
    Edit
</button>

<button class="btn btn-primary" ng-click='nextPin(pin[0].pin.source_id, pin[0].pin.id, "next")'>
    Next
</button>



<style type="text/css">

    .foot-button {
        display: inline-block;
    }

    #save {
    }

    #share {
        background-color: #acdfff;
        border-radius: 5px;
    }

    #footer {
        display: inline;
        width: 100px;
    }

    #share-input {
        border: none;
        background-color: #acdfff;
        height: 100%;
    }
    #img-and-card {
        margin: 0 7%;
        display: inline-block;
        float: left;
        min-height: 300px;
        -webkit-transition: .4s ease-in-out opacity;
        -moz-transition: .4s ease-in-out opacity;
        -o-transition: .4s ease-in-out opacity;
        transition: .4s ease-in-out opacity;
    }
    #img-and-card img {
        max-width: 300px;
        max-height: 300px;
        float: left;
        margin-top: 50px;
    }
    #img-and-card div {
        width: 600px;
        float: left;
    }
    h1 {
        margin: 0 20%;
    }
    a h1 {
        color: black;
    }
    a:hover {
        color: red;
        text-decoration: none;
    }
</style>

<script type="text/javascript">
    setTimeout(function(){
        $('#img-and-card').css('opacity', 1);
    }, 500)
</script>