

<div class="wrapper">
<br />
<button style='position: absolute; left: 12em;' onClick='window.history.go(-1)' class='btn btn-primary'>
    &#10094; <strong>Back</strong>
</button>

<div style='position: absolute; right: 15em;' id='social' class="form-group a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_dd" href="http://www.addtoany.com/share_save"></a>
</div>
<script type="text/javascript" src="//static.addtoany.com/menu/page.js">
</script>


<div id="fill-div" data-fill="minFontPixels: 24">
<a href="{{pin[0].pin.url}}">
        <span>{{pin[0].pin.title}}</span>
</a>
</div>


<div id='img-and-card' style='opacity: 0;'>
    <div id='embedly-card-div'>
        <a class="embedly-card" id='test' href="{{pin[0].pin.url}}"></a>
    </div>
</div>

<br>
<br>


<br>

<p>
    {{pin[0].pin.description}}
</p>

<br>
<br>

<script>
    $(document).ready(function(){
        $('#embedly-platform').remove();
        setTimeout(function(){
            (function(a){
                var b = "embedly-platform"
                var c = "script"
                if(!a.getElementById(b)){
                    var d=a.createElement(c)
                    d.id=b
                    d.async=true
                    d.src=document.location.protocol+"//cdn.embedly.com/widgets/platform.js"
                    var e=document.getElementsByTagName(c)[0]
                    e.parentNode.insertBefore(d,e)
                }
            })(document)
        }, 350)
    })
</script>

<p hidden>
    {{(toggle == null) && (toggle = pin[0].saved)}}
</p>

<div id='footer'>

    <div id='share' class='foot-button'>
        <input type='text'ng-model="formData.sendTo" id='share-input' placeholder='share with...'>
        <button id='share-button'class='btn btn-primary' ng-click='sharePin()'>
            <strong>Share</strong>
        </button>
    </div>
    &nbsp;
    <div ng-click='savePin(); toggle=true' 
         id='save' 
         ng-hide="toggle"
         class='foot-button btn-danger btn'>
        <strong>Save</strong>
    </div>
    <div ng-click='savePin(); toggle=false' 
         id='unsave' 
         ng-show="toggle"
         class='foot-button unsave btn'
         style='background-color: #3f6;'>
        <strong>Unsave</strong>
    </div>
    &nbsp;
    <button id='edit-btn' class="btn" ng-click='goEdit()' ng-hide="not_admin">
        <strong>Edit</strong>
    </button>

    <br/>
    <br/>

</div>


<button id='prev-btn' class='direction-btn' ng-click='nextPin(pin[0].pin.source_id, pin[0].pin.id, "previous")'>    
    <strong>&#10094;</strong>
</button>

<button id='next-btn' class='direction-btn' ng-click='nextPin(pin[0].pin.source_id, pin[0].pin.id, "next")'>
    <strong>&#10095;</strong>
</button>


<br/>
<br/>

</div>

<style type="text/css">


    #edit-btn {
        border: 1px solid #ccc;
    }

    .direction-btn {
        border: none;
        background-color: rgba(200,200,200,0);
        font-family: monaco, mono;
        font-size: 10em;
        color: #333;
        position: absolute;
        top: 1.5em;
    }

    .direction-btn:hover {
        color: #F00018;
    }

    #prev-btn {
        left: 150px;
    }

    #next-btn {
        right: 150px;
    }

    p {
        font-size: 1.4em;
        padding: 0 5em;
    }

    .foot-button {
        display: inline-block;
    }

    #share input {
        height: 2.3em;
        border: 2px solid #666;
        padding-left: 5px;
    }

    #footer {
        display: inline;
        width: 100px;
    }

    #img-and-card {
        margin-left: 31%;

        -webkit-transition: .4s ease-in-out opacity;
        -moz-transition: .4s ease-in-out opacity;
        -o-transition: .4s ease-in-out opacity;
        transition: .4s ease-in-out opacity;
    }

    h1 {
        margin: 0 20%;
        font-size: 4em;
        color: #444;
    }

    a:hover {
        color: red;
        text-decoration: none;
    }
    #embedly-card-div {
        width: 400px;
    }


</style>

<script type="text/javascript">
    setTimeout(function(){
        $('#img-and-card').css('opacity', 1);
    }, 500)

    $('#share-button').on('click', function(){
        $('#share-input').val('')
    })
</script>