<div class="wrapper">

<h1>Search Results</h1>


<div id='title-div' class='third'>
<h2>Title</h2>
	<div id="source-container">
	    <div id="source-div" ng-repeat="pin in titleResults[0]|unique:'id'">
	        <a href="/#/pin/all/{{pin.id}}">
		            <img ng-src="{{pin['image_url']}}"/>
		            <div class="title" style="opacity: 0" data-fill>
		            	{{pin.title}}
		            </div>
	        </a>
	    </div>
	</div>
</div>

<div id='title-div' class='third'>
<h2>By URL</h2>
	<div id="source-container">
	    <div id="source-div" ng-repeat="pin in urlResults[0]|unique:'id'">
	        <a href="/#/pin/all/{{pin.id}}">
		            <img ng-src="{{pin['image_url']}}"/>
		            <div class="title" style="opacity: 0" data-fill>
		            	{{pin.title}}
		            </div>
	        </a>
	    </div>
	</div>
</div>

<div id='title-div' class='third'>
<h2>By Description</h2>
	<div id="source-container">
	    <div id="source-div" ng-repeat="pin in descriptionResults[0]|unique:'id'">
	        <a href="/#/pin/all/{{pin.id}}">
		            <img ng-src="{{pin['image_url']}}"/>
		            <div class="title" style="opacity: 0" data-fill>
		            	{{pin.title}}
		            </div>
	        </a>
	    </div>
	</div>
</div>
</div>


<style type="text/css">
	.third {
		display: inline-block;
		float: left;
		max-width: 32%;
		margin-right: 1%; 
		width: 32%;
	}

    .title p {
        max-width: 300px;
    }

    #img-div {
        height: 300px;
        width: 300px;
    }

    #source-div img {
        height: 275px;
        width: 275px;
    }

    .wrapper {
    	height: 260em;
    }
</style>