<div class="wrapper">
<img class="source-img" src={{sourceImage[0].img_url}} />

<button style='float:left;margin-left: 9em;' onClick='window.history.go(-1)' class='btn btn-primary'>
    &#10094; <strong>Back</strong>
</button>

<div class="btn-group" id='sort-by' style="float:right; margin-right: 9em;">
  <button type="button" id='sort-dropdown-btn' class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      <strong>Sort</strong> &#x25BE;
  </button>
  <ul class="dropdown-menu">
        <li>
            <a class='sort-btn' ng-click="mostRecent()">Latest</a>
        </li>
        <li>
            <a class='sort-btn' ng-click="mostViewed()">Hot</a>
        </li>
        <li>
            <a class='sort-btn' ng-click="mostMonth()">Hot this Month</a>
        </li>
        <li>
            <a class='sort-btn' ng-click="mostWeek()">Hot this Week</a>
        </li>
  </ul>
</div>

<br />
<br />
<br />


<div id="source-container" style="opacity:0" infinite-scroll='loadMore()'>
    <div id="source-div" class="repeat-item" ng-repeat="source in sources">
        <a href="/#/pin/source/{{source.id}}">
            <img ng-src="{{source.image_url}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
            <div class="title" style="opacity:0;" data-fill>
                <!-- <p> -->
                   {{source.title}}
                <!-- </p> -->
            </div>
        </a>
    </div>
</div>

</div>

<style>


    #source-div img {
        height: 275px;
        width: 275px;
    }
    #sort-dropdown-btn {
        background-color: green;
        color: white;
    }

    #sort-by a:hover {
        background-color: green;
    }
</style>

