<!-- <select ng-model="orderProp">
	<option value="sources.view_count">Most Recent</option>
	<option value="views">Most Views</option>
</select> -->

Sort By:
<button ng-click="mostRecent()" class='btn'>Most Recent</button>
<button class='btn' ng-click="mostViewed()">Most Viewed</button>

<div id="source-container'" infinite-scroll='loadMore()'>
	<div id="source-div" ng-repeat="source in sources">
		<div class="title">
			<p><a href="/#/pin/{{source.id}}">{{source.title}}</a></p>
		</div>
		<img ng-src={{source.image_url}}/>
	</div>
</div>

