Sort By:
<button ng-click="mostRecent()" class='btn'>Most Recent</button>
<button class='btn' ng-click="mostViewed()">Most Viewed</button>

<div id="source-container'" infinite-scroll='loadMore()'>
	<div id="source-div" class="repeat-item" ng-repeat="source in sources">
        <a href="/#/pin/source/{{source.id}}">
            <div class="title">
    			<p>
                    {{source.title}}
                </p>
            </div>
            <img ng-src="{{source.image_url}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
        </a>
	</div>
</div>


<style>
    #source-div img {
        height: 275px;
        width: 275px;
    }
</style>

