<h1>Welcome to Trolly!</h1>

<div class="splash-wrapper">
<h2 class="title-left">News</h2>
   <div data-slick="slidesToShow: 4, slidesToScroll: 4, infinite: false">
    <div data-ng-repeat="i in news" data-notify-repeat-finish>
        <a href="/#/source/{{i['id']}}">
            <img class="small" ng-src="{{i['img_url']}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
         </a>
    </div>
  </div>
</div>

<div class="splash-wrapper">
<h2 class="title-left">Music</h2>
   <div data-slick="slidesToShow: 4, slidesToScroll: 4, infinite: false">
    <div data-ng-repeat="i in music" data-notify-repeat-finish>
        <a href="/#/source/{{i['id']}}">
            <img class="small" ng-src="{{i['img_url']}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
         </a>
    </div>
  </div>
</div>

<div class="splash-wrapper">
<h2 class="title-left">Tech</h2>
   <div data-slick="slidesToShow: 4, slidesToScroll: 4, infinite: false">
    <div data-ng-repeat="i in tech" data-notify-repeat-finish>
        <a href="/#/source/{{i['id']}}">
            <img class="small" ng-src="{{i['img_url']}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
         </a>
    </div>
  </div>
</div>


  <div class="splash-wrapper">
  <h2 class="title-left">Sports</h2>
   <div data-slick="slidesToShow: 4, slidesToScroll: 4, infinite: false">
    <div data-ng-repeat="i in sports" data-notify-repeat-finish>
        <a href="/#/source/{{i['id']}}">
            <img class="small" ng-src="{{i['img_url']}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
         </a>
    </div>
  </div>
</div>

  <div class="splash-wrapper">
  <h2 class="title-left">Video</h2>
   <div data-slick="slidesToShow: 4, slidesToScroll: 4, infinite: false">
    <div data-ng-repeat="i in video" data-notify-repeat-finish>
        <a href="/#/source/{{i['id']}}">
            <img class="small" ng-src="{{i['img_url']}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
         </a>
      </div>
  </div>
</div>


<div class="splash-wrapper">
<h2 class="title-left">Humor</h2>
   <div data-slick="slidesToShow: 4, slidesToScroll: 4, infinite: false">
    <div data-ng-repeat="i in humor" data-notify-repeat-finish>
        <a href="/#/source/{{i['id']}}">
            <img class="small" ng-src="{{i['img_url']}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
         </a>
    </div>
  </div>
</div>

<div class="splash-wrapper">
<h2 class="title-left">Other</h2>
   <div data-slick="slidesToShow: 4, slidesToScroll: 4, infinite: false">
    <div data-ng-repeat="i in other" data-notify-repeat-finish>
        <a href="/#/source/{{i['id']}}">
            <img class="small" ng-src="{{i['img_url']}}" onError="this.onerror=null;this.src='http://www.cian-erc.org/images/noimage.gif'"/>
         </a>
    </div>
  </div>
</div>

