Sort By:
<button class='btn' ng-click="mostRecent()">Most Recent</button>
<button class='btn' ng-click="mostViewed()">Most Viewed</button>

<div id="source-container" infinite-scroll='more()'>
    <div id="source-div" class="repeat-item" ng-repeat="pin in array | orderBy:sortBy:true | limitTo:quantity">
        <div class="title">
            <p>
                <a href="/#/pin/{{tag}}/{{pin.id}}">
                    {{pin.title}}
                </a>
            </p>
        </div>
        <div id='img-div'>
            <img data-ng-src="{{pin['image_url']}}">
        </div>
    </div>
</div>

<style type="text/css">

    #img-div {
        height: 300px;
        width: 300px;
    }

    #source-div img {
        max-height: 300px;
    }

    #source-div {
        display: inline-block;
        margin: 5px;
        text-align: center;
    }

</style>
