Sort By:
<button class='btn' ng-click="mostRecent()">Most Recent</button>
<button class='btn' ng-click="mostViewed()">Most Viewed</button>

<div id="source-container" infinite-scroll='more()'>
    <div id="source-div" ng-repeat="pin in array | orderBy:sortBy:true | limitTo:quantity">
        <div class="title">
            <p>
                <a href="/#/pin/{{pin.id}}">
                    {{pin.title}}
                </a>
            </p>
        </div>
        <img ng-src={{pin['image_url']}}/>
    </div>
</div>