<button class='btn' ng-click="mostRecent()">Latest</button>
<button class='btn' ng-click="mostViewed()">Hot</button>
<button class='btn' ng-click="mostMonth()">Hot this Month</button>
<button class='btn' ng-click="mostWeek()">Hot this Week</button>

<br/>
<br/>
<br/>

<div id="source-container" infinite-scroll='more()'>
    <div id="source-div" class="repeat-item" ng-repeat="pin in array | orderBy:sortBy:true | limitTo:quantity">
        <a href="/#/pin/{{tag}}/{{pin.id}}">
            <div class="title">
                <p>
                    {{pin.title}}
                </p>
            </div>
            <div id='img-div' class='infinity-pic'>
                <img data-ng-src="{{pin['image_url']}}">
            </div>
        </a>
    </div>
</div>

<style type="text/css">

    #img-div {
        height: 300px;
        width: 300px;
    }

    #source-div img {
        height: 275px;
        width: 275px;
    }

    #source-div {
        display: inline-block;
        margin: 5px;
        text-align: center;
    }

</style>
