.foot-button {
    float: left;
    display: inline-block;
    height:100%;
    width: 50%;
    margin:0;
    padding:0;
    height: 3em;
}
#save {
    background-color: lightgreen;
}

#share {
    background-color: lightblue;
}

#footer {
    display: inline;
    width: 100px;
}

#share-input {
    border: none;
    background-color: lightblue;
    height: 100%;
}