#source-div img {
	height: auto;
	width: 300px;
}

#source-div {
	display: inline-block;
	margin: 5px;
	text-align: center;
}

#source-container {
	text-align: center;
}

.ng-scope {
	text-align: center;
}

.title {
	background: white;
}



.title p{
	margin: 0;
	font-size: 25px;
}
.title-left{
	text-align: left;
}

.choose-file{
	display: block;
	margin: 0 auto;
	padding-left: 92px;
}

.wrapper {
  background-color: rgba(110,110,110,0.1);
  margin-top: 5em;
  margin-right: 80px;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 2px solid #ccc;
  min-height: 500px;
}

#dash-wrapper {
  background-color: rgba(110,110,110,0.1);
  margin-top: 1em;
  padding-left: 4em;
  padding-right: 4em;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 2px solid #ccc;
  min-height: 500px;
}

#s-wrapper {
  background-color: rgba(110,110,110,0.1);
  margin-top: 5em;
  margin-right: 80px;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
  border: 2px solid #ccc;
  min-height: 500px;

}

#dash-header {
	margin-top: 3em;
	margin-right: 80px;
}


/*.slide-wrapper{
	margin: 10px;
}

.slider-repeat{
	width: 300px !important;
}*/

.small {
	height: 230px;
	width: 250px;
}

.slick-track {
	margin-left: 0px !important;
}

.splash-small {
	height: 210px;
	width: 230px;
}

.slick-track {
	margin-left: .75em;
}

#search-title{
	/*float: left;*/
	display: inline-block;
	/*text-align: left;*/
}

.search-head{
	margin: 110px;
}

#search-url{
	/*float: center;*/
	display: inline-block;

}

#search-des{
	/*float: right;*/
	display: inline-block;

}

#search-div{
	display: inline-block;
	width: 100%;
	text-align: center;
}

.title-fill {
	width: 100%;
	background: white;
	font-family: sans;
	font-size: 1.5em;
	padding: .4em 0em .4em 0em;

}

.splash-wrapper {
	visibility: hidden;
}

.splash-wrapper h2 {
	text-align: left;
	font-family: sans;
}

.source-img {
	height: 7em;
	width: 7em;
}



.white {
	background: white;
	/*line-height: 5em;*/
	padding: .4em 0em .4em 0em;
	width: 250px;
	font-family: sans;
	font-size: 1.5em;
}



.splash-animation{
    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​