#source-div img {
	height: auto;
	width: 300px;
}

#source-div {
	display: inline-block;
	margin: 5px;
	text-align: center;
}

#source-container {
	text-align: center;
}

.ng-scope {
	text-align: center;
}

.title {
	background: white
}

.title p{
	margin: 0;
	font-size: 25px;
}
.title-left{
	text-align: left;
}

.choose-file{
	display: block;
	margin: 0 auto;
	padding-left: 92px;
}



/*.slide-wrapper{
	margin: 10px;
}

.slider-repeat{
	width: 300px !important;
}*/

.small {
	height: 250px;
	width: 275px;
}

#search-title{
	/*float: left;*/
	display: inline-block;
	/*text-align: left;*/
}

.search-head{
	margin: 110px;
}

#search-url{
	/*float: center;*/
	display: inline-block;

}

#search-des{
	/*float: right;*/
	display: inline-block;

}

#search-div{
	display: inline-block;
	width: 100%;
	text-align: center;
}

.splash-wrapper {
	visibility: hidden;
}

.splash-wrapper h2 {
	text-align: left;
	font-family: sans;
}

.white {
	background: white;
	/*line-height: 5em;*/
	padding: .4em 0em .4em 0em;
	width: 275px;
	font-family: sans;
	font-size: 1.5em;
}



.splash-animation{
    -webkit-animation: fadein 2s; /* Safari and Chrome */
       -moz-animation: fadein 2s; /* Firefox */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}​